/* input  {
    box-sizing: border-box;
    border-width: 0 !important;
    border-style: none !important;
    border-color: transparent !important;

    *{
         box-sizing: border-box;
    border-width: 0 !important;
    border-style: none !important;
    border-color: transparent !important;
    }
} */

