.logo {
    background-image: url(https://static.cdninstagram.com/rsrc.php/v4/yB/r/E7m8ZCMOFDS.png);
    background-position: 0px -52px;
    background-size: auto;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    display: inline-block;
}